{% extends "base.html" %}

{% block titulo %}Enviar correo{% endblock %}

{% block contenido %}
    <h2>Enviar correo</h2>
    <form method="post" class="model-form">
        {% csrf_token %}
        <div class="fieldWrapper">
            <label class="form-label" for="asunto">Asunto:</label>
            <input type="text" id="asunto" name="asunto" required>
        </div>
        <div class="fieldWrapper">
            <label class="form-label" for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
        </div>
        <div class="fieldWrapper">
            <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
     </form>
{% endblock %}