{% extends "base.html" %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
    <h2>Listado de proyectos</h2>
    <div class="centrado">
        <a href="{% url 'index_proyectos' %}" class="btn">Ver más</a>
    </div>
    {% if lista_proyectos %}
        <table class="tablas">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de inicio </th>
                    <th>Fecha fin </th>
                    <th>Presupuesto</th>
                    <th>Cliente</th>
                    <th>Responsable</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in lista_proyectos %}
                <tr>
                    <td>
                        <a href="{% url 'detail_proyecto' pk=proyecto.id %}">{{ proyecto.nombre}}</a>
                    </td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.fecha_inicio }}</td>
                    <td>{{ proyecto.fecha_fin }}</td>
                    <td>{{ proyecto.presupuesto }}</td>
                    <td>{{ proyecto.cliente.nombre }}</td>
                    <td>{{ proyecto.responsable }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay proyectos creados.</p>
    {% endif %}



    <h2>Listado de tareas</h2>
    <div class="centrado">
        <a href="{% url 'index_tareas' %}" class="btn">Ver más</a>
    </div>
    {% if lista_tareas %}
        <table class="tablas">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Responsable</th>
                    <th>Proyecto</th>
                    <th>Nivel de prioridad</th>
                    <th>Estado</th>
                    <th>Notas adicionales</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in lista_tareas %}
                <tr>
                    <td>
                        <a href="{% url 'detail_tarea' pk=tarea.id %}">{{ tarea.nombre }}</a>
                    </td>
                    <td>{{ tarea.descripcion }}</td>
                    <td>{{ tarea.fecha_inicio }}</td>
                    <td>{{ tarea.fecha_fin }}</td>
                    <td>{{ tarea.responsable }}</td>
                    <td>{{ tarea.proyecto }}</td>
                    <td>{{ tarea.nivel_prioridad }}</td>
                    <td>{{ tarea.estado_tarea }}</td>
                    <td>{{ tarea.notas }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay tareas creadas.</p>
    {% endif %}


    <h2>Listado de empleados</h2>
    <div class="centrado">
        <a href="{% url 'index_empleados' %}" class="btn">Ver más</a>
    </div>
    {% if lista_empleados %}
        <table class="tablas">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in lista_empleados %}
                <tr>
                    <td>
                        <a href="{% url 'detail_empleado' pk=empleado.id %}">{{ empleado.dni }}</a>
                    </td>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellidos }}</td>
                    <td>{{ empleado.email }}</td>
                    <td>{{ empleado.telefono }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay empleados creados.</p>
    {% endif %}


    <h2>Listado de clientes</h2>
    <div class="centrado">
        <a href="{% url 'index_clientes' %}" class="btn">Ver más</a>
    </div>
    {% if lista_clientes %}
        <table class="tablas">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in lista_clientes %}
                <tr>
                    <td>
                        <a href="{% url 'detail_cliente' pk=cliente.id %}">{{ cliente.nombre }}</a>
                    </td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.direccion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay clientes creados.</p>
    {% endif %}
{% endblock %}