{% extends "base.html" %}

{% block titulo %}Listado de tareas{% endblock %}

{% block contenido %}
    <h2>Listado de tarea</h2>
    <a href="{% url 'create_tareas' %}" class="create">Crear nueva tarea</a>
    {% if lista_tareas %}
        <table class="tablas">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Responsable</th>
                    <th>Proyecto</th>
                    <th>Nivel de prioridad</th>
                    <th>Estado de la tarea</th>
                    <th>Notas</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in lista_tareas %}
                    <tr>
                        <td> 
                            <a href="{% url 'detail_tarea' pk=tarea.id %}">{{ tarea.nombre }}</a>
                        </td>
                        <td>{{ tarea.descripcion }}</td>
                        <td>{{ tarea.fecha_inicio }}</td>
                        <td>{{ tarea.fecha_fin }}</td>
                        <td>{{ tarea.responsable }}</td>
                        <td>{{ tarea.proyecto }}</td>
                        <td>{{ tarea.nivel_prioridad }}</td>
                        <td>{{ tarea.estado_tarea }}</td>
                        <td>{{ tarea.notas }}</td>
                        <td>
                            <a href="{% url 'edit_tarea' pk=tarea.id %}" class="btn-link">Editar</a>
                            <a href="{% url 'delete_tarea' pk=tarea.id %}" class="btn-link btn-link-red">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Inicio</a>
                    <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Anterior</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente &rsaquo;</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo;</a>
                {% endif %}
            </span>
        </div>
        <div class="centrado">
            <span class="current-page">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </div>  
        
    {% else %}
        <p>No hay tareas creados.</p>
    {% endif %}
{% endblock %}