{% extends "base.html" %}
{% block titulo %} Detalle del proyecto {% endblock %}
{% block contenido %}
    {% if proyecto %}
        <div class="detalle-model">
            <h2>Datos del proyecto</h2>
            <div class="detalle-model-info">
                <div>
                    <p>{{ proyecto.nombre }}</p>
                </div>
                <div>
                    <p>Descripción:</p>
                    <p>{{ proyecto.descripcion }}</p>
                </div>
                <div>
                    <p>Fecha de inicio:</p>
                    <p>{{ proyecto.fecha_inicio }}</p>
                </div>
                <div>
                    <p>Fecha de fin:</p>
                    <p>{{ proyecto.fecha_fin }}</p>
                </div>
                <div>
                    <p>Presupuesto:</p>
                    <p>{{ proyecto.presupuesto }}</p>
                </div>
                <div>
                    <p>Cliente:</p>
                    <p><a href="{% url 'detail_cliente' pk=proyecto.cliente.id %}">{{ proyecto.cliente.nombre }}</a></p>
                </div>
                <div>
                    <p>Responsable:</p>
                    <p><a href="{% url 'detail_empleado' pk=proyecto.responsable.id %}">{{ proyecto.responsable.nombre }} {{ proyecto.responsable.apellidos }}</a></p>
                </div>
            
            </div>
        </div>
    {% else %}
        <p>No existe este proyecto.</p>
    {% endif %}
{% endblock %}