{% extends "base.html" %}
{% block titulo %}Crear proyecto{% endblock %}
{% block contenido %}
  <h2>Crear proyecto</h2>
  <form method="post" onsubmit="return validarFormularioProyecto()" class="model-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="fieldWrapper" >
        {{ field.errors }}
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <p class="help">
            {{ field.help_text|safe }}
          </p>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Nuevo proyecto">
    <p id="mensaje" style="color: red; font-weight: bold;"></p>
  </form>
{% endblock %}