{% extends "base.html" %}

{% block titulo %}Editar Tarea{% endblock %}

{% block contenido %}
    <h2>Editar tarea</h2>
    <form method="post" class="model-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper" >
                {{ field.errors }}
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                <p class="help">
                    {{ field.help_text|safe }}
                </p>
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit"  class="btn btn-primary" value="Actualizar tarea">
    </form>
{% endblock %}